<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>♂Gey Web Site♂</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="card m-4 p-4">
  <mat-tab-group>
    <mat-tab label="Boy pigs">
      <div *ngTemplateOutlet="BoyPigTable">

      </div>
    </mat-tab>
    <mat-tab label="Pigs">
      <div *ngTemplateOutlet="PigTable">

      </div>
    </mat-tab>
    <mat-tab label="Girl pig">
      <div *ngTemplateOutlet="GirlPigTable"></div>
    </mat-tab>
    <mat-tab label="Graft">
      <div *ngTemplateOutlet="GraftTable"></div>
    </mat-tab>
    <mat-tab label="Piggy">
      <div *ngTemplateOutlet="PiggyTable"></div>
    </mat-tab>
    <mat-tab label="Family">
      <div *ngTemplateOutlet="PigFamilyTable"></div>
    </mat-tab>
    <mat-tab label="Piglet">
      <div *ngTemplateOutlet="PigletTable"></div>
    </mat-tab>
    <mat-tab label="Months">
      <div *ngTemplateOutlet="MonthsTable"></div>
    </mat-tab>
    <mat-tab label="Food">
      <div *ngTemplateOutlet="FoodPigTable"></div>
    </mat-tab>
    <mat-tab label="Feed">
      <div *ngTemplateOutlet="FeedTable"></div>
    </mat-tab>
  </mat-tab-group>

</div>
<ng-template #BoyPigTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="boyPigs" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idBoyPig">
      <th mat-header-cell *matHeaderCellDef> id</th>
      <td mat-cell *matCellDef="let element"> {{element.idBoyPig}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="idPig">
      <th mat-header-cell *matHeaderCellDef> big</th>
      <td mat-cell *matCellDef="let element"> {{pigs[element.idPig - 1].nicknamePig}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="boyPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: boyPigColumns;"></tr>
  </table>
</ng-template>

<ng-template #GirlPigTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="girlPigs" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idGirlPig">
      <th mat-header-cell *matHeaderCellDef> id</th>
      <td mat-cell *matCellDef="let element"> {{element.idGirlPig}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="idPig">
      <th mat-header-cell *matHeaderCellDef> pig</th>
      <td mat-cell *matCellDef="let element"> {{pigs[element.idPig - 1].nicknamePig}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="girlPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: girlPigColumns;"></tr>
  </table>
</ng-template>

<ng-template #GraftTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="grafts" class="mat-elevation-z8">

    <ng-container matColumnDef="idGraft">
      <th mat-header-cell *matHeaderCellDef> id</th>
      <td mat-cell *matCellDef="let element"> {{element.idGraft}} </td>
    </ng-container>

    <ng-container matColumnDef="graftOne">
      <th mat-header-cell *matHeaderCellDef> graft one</th>
      <td mat-cell *matCellDef="let element"> {{element.graftOne}} </td>
    </ng-container>

    <ng-container matColumnDef="graftTwo">
      <th mat-header-cell *matHeaderCellDef> graft two</th>
      <td mat-cell *matCellDef="let element"> {{element.graftTwo}} </td>
    </ng-container>

    <ng-container matColumnDef="graftTree">
      <th mat-header-cell *matHeaderCellDef> graft three</th>
      <td mat-cell *matCellDef="let element"> {{element.graftTree}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="graftPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: graftPigColumns;"></tr>
  </table>
</ng-template>

<ng-template #PiggyTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="piggys" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idPiggy">
      <th mat-header-cell *matHeaderCellDef> id</th>
      <td mat-cell *matCellDef="let element"> {{element.idPiggy}} </td>
    </ng-container>
    <ng-container matColumnDef="fio">
      <th mat-header-cell *matHeaderCellDef> id</th>
      <td mat-cell *matCellDef="let element"> {{element.fio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="piggyPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: piggyPigColumns;"></tr>
  </table>
</ng-template>

<ng-template #PigTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="pigs" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idPig">
      <th mat-header-cell *matHeaderCellDef> idPig</th>
      <td mat-cell *matCellDef="let element"> {{element.idPig}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="nicknamePig">
      <th mat-header-cell *matHeaderCellDef> nicknamePig</th>
      <td mat-cell *matCellDef="let element"> {{element.nicknamePig}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="agePig">
      <th mat-header-cell *matHeaderCellDef> agePig</th>
      <td mat-cell *matCellDef="let element"> {{element.agePig}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="appointment">
      <th mat-header-cell *matHeaderCellDef> appointment</th>
      <td mat-cell *matCellDef="let element"> {{element.appointment}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="idGraft">
      <th mat-header-cell *matHeaderCellDef> idGraft</th>
      <td mat-cell *matCellDef="let element">
        {{grafts[element.idGraft - 1].graftOne }}+{{' | '}}+
        {{grafts[element.idGraft - 1].graftTwo }}{{' | '}}+
        {{grafts[element.idGraft - 1].graftTree }} </td>
    </ng-container>

    <ng-container matColumnDef="idPiggy">
      <th mat-header-cell *matHeaderCellDef> idPiggy</th>
      <td mat-cell *matCellDef="let element"> {{piggys[element.idPiggy - 1].fio }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="pigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: pigColumns;"></tr>
  </table>
</ng-template>

<ng-template #PigFamilyTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="families" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idFamily">
      <th mat-header-cell *matHeaderCellDef> idFamily</th>
      <td mat-cell *matCellDef="let element"> {{element.idFamily}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="idPiglet">
      <th mat-header-cell *matHeaderCellDef> idPiglet</th>
      <td mat-cell *matCellDef="let element"> {{pigs[piglets[element.idPiglet - 1].idPig - 1].nicknamePig}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="idGirlPig">
      <th mat-header-cell *matHeaderCellDef> idGirlPig</th>
      <td mat-cell *matCellDef="let element"> {{pigs[girlPigs[element.idGirlPig - 1].idPig - 1].nicknamePig}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="idBoyPig">
      <th mat-header-cell *matHeaderCellDef> idBoyPig</th>
      <td mat-cell *matCellDef="let element"> {{pigs[boyPigs[element.idBoyPig - 1].idPig - 1].nicknamePig}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="familyPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: familyPigColumns;"></tr>
  </table>
</ng-template>

<ng-template #PigletTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="piglets" class="mat-elevation-z8">

    <ng-container matColumnDef="idPiglet">
      <th mat-header-cell *matHeaderCellDef> idPiglet</th>
      <td mat-cell *matCellDef="let element"> {{element.idPiglet}} </td>
    </ng-container>

    <ng-container matColumnDef="idPig">
      <th mat-header-cell *matHeaderCellDef> idPig</th>
      <td mat-cell *matCellDef="let element"> {{pigs[element.idPig - 1].nicknamePig}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef> dateOfBirth</th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="pigletColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: pigletColumns;"></tr>
  </table>
</ng-template>

<ng-template #MonthsTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="month" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idMonths">
      <th mat-header-cell *matHeaderCellDef> idMonths</th>
      <td mat-cell *matCellDef="let element"> {{element.idMonths}} </td>
    </ng-container>

    <ng-container matColumnDef="nameOfTheMonth">
      <th mat-header-cell *matHeaderCellDef> nameOfTheMonth</th>
      <td mat-cell *matCellDef="let element"> {{element.nameOfTheMonth}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="monthColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: monthColumns;"></tr>
  </table>
</ng-template>

<ng-template #FeedTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="feed" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idFeed">
      <th mat-header-cell *matHeaderCellDef> idFeed</th>
      <td mat-cell *matCellDef="let element"> {{element.idFeed}} </td>
    </ng-container>

    <ng-container matColumnDef="feedType">
      <th mat-header-cell *matHeaderCellDef> feedType</th>
      <td mat-cell *matCellDef="let element"> {{element.feedType}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="feedPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: feedPigColumns;"></tr>
  </table>
</ng-template>


<ng-template #FoodPigTable>
  <table *ngIf="boyPigs" mat-table [dataSource]="food" class="mat-elevation-z8">

    <ng-container matColumnDef="idFoodPig">
      <th mat-header-cell *matHeaderCellDef> idFoodPig</th>
      <td mat-cell *matCellDef="let element"> {{element.idFoodPig}} </td>
    </ng-container>


    <ng-container matColumnDef="feedConsumption">
      <th mat-header-cell *matHeaderCellDef> feedConsumption</th>
      <td mat-cell *matCellDef="let element"> {{element.feedConsumption}} </td>
    </ng-container>

    <ng-container matColumnDef="pigWeight">
      <th mat-header-cell *matHeaderCellDef> pigWeight</th>
      <td mat-cell *matCellDef="let element"> {{element.pigWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="idFeed">
      <th mat-header-cell *matHeaderCellDef> idFeed</th>
      <td mat-cell *matCellDef="let element"> {{feed[element.idFeed - 1].feedType}} </td>
    </ng-container>

    <ng-container matColumnDef="idMonths">
      <th mat-header-cell *matHeaderCellDef> idMonths</th>
      <td mat-cell *matCellDef="let element"> {{month[element.idMonths - 1].nameOfTheMonth}} </td>
    </ng-container>

    <ng-container matColumnDef="idPig">
      <th mat-header-cell *matHeaderCellDef> idPig</th>
      <td mat-cell *matCellDef="let element"> {{pigs[element.idPig - 1].nicknamePig}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="foodPigColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: foodPigColumns;"></tr>
  </table>
</ng-template>

